name: Reverti CI - Testes Unitários

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Instalar Dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Rodar Testes com Pytest
      run: |
        # Definindo o PYTHONPATH para que os testes encontrem os módulos
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        pytest tests/